$background-color: #f4f7f6;
$primary-text-color: #3a3a3a;
$navbar-background-color: #f4f7f6;
$btn-primary-background: #ffffff;
$btn-primary-border: #1d2b36;
$btn-secondary-background: #0f373e;
$btn-secondary-text: #ffffff;
$link-hover-color: #3a3a3a;
